@font-face {
    font-family: 'whitney';
    src: url('fonts/whitney.woff') format('woff');
    font-weight: 300;
}


/* Visually hidden class */
.cloak {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #424242;
    font-family: 'Heebo', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.e {
    filter: invert(1);
}

.userFieldValidator {
    float: left;
    margin-top: -10px;
}

.passwordFieldValidator {
    float: left;
    margin-top: -20px;
}

.link {
    color: #d52b1e;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-decoration: none;
    margin-top: 10px
}

.link-new {
    /*position: absolute;*/
    padding: 11px 26px 12px 16px;
    border-radius: 9px;
    border: solid 1px #d52b1e;
    margin-top: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' d='M-1040-836H400V188h-1440z'/%3E %3Cg transform='translate(-175 -18)'%3E %3Crect stroke='%23D52B1E' x='.5' y='.5' width='195' height='43' rx='9'/%3E %3Cpath d='M179.453 21.907l.264-.264-3.423-3.422a.76.76 0 0 0-1.294.536.75.75 0 0 0 .223.536l2.886 2.885-2.887 2.887a.752.752 0 0 0 .001 1.071.757.757 0 0 0 1.07.001l3.424-3.423a.762.762 0 0 0 0-1.07l-.264.263-.265.263.002.009-.002.008-3.422 3.421-.008.003-.009-.003-.003-.008.003-.007 3.416-3.415-3.416-3.414-.003-.007.003-.007.009-.004.008.004 3.423 3.421.264-.264z' fill='%23D52B1E'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: right 12px center;
    width: 228px;
}


/* Negocios */
.link-negocios {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.link-negocios_text {
    max-width: 257px;
}

.link-negocios_new {
    position: relative;
    min-width: 200px;
    margin-right: 28px;
}


.wrapper {
    height: 100vh;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.wrapper-left {
    height: 100vh;
}

.wrapper-left_img {
    height: 100vh;
    width: auto;
    position: fixed;
}

    .wrapper-left_img:not(:first-child) {
        display: none;
        opacity: 0;
    }

.wrapper-right {
    background-color: #ffffff;
}

.container-login {
    background-color: #ffffff;
    padding-left: 137px;
    padding-right: 24px;
    height: 100vh;
    position: relative;
    display: block;
}

.header-login, .main, .footer-login {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    grid-column: 2/2;
}

.header-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 24px;
}



.header-logo_img {
    max-width: 100%;
    margin: 20px 2px 11px;
}

.header-links_list {
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
}

.header-links_item {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 9px;
}

    .header-links_item:nth-child(1) {
        margin-left: 0;
    }

.header-item_link {
    background-image: url(img/icons.svg);
    background-size: 420px 100px;
    background-position-y: -55px;
    width: 39px;
    height: 39px;
    display: inline-block;
}



/* Negocios */
.header-item_link-negocios {
    background-position-y: -5px;
}

.header-item_link-mensaje {
    background-position-x: -216px;
}

    .header-item_link-mensaje:hover {
        background-position-x: -6px;
    }

.header-item_link-ayuda {
    background-position-x: -266px;
}

    .header-item_link-ayuda:hover {
        background-position-x: -56px;
    }

.header-item_link-seguridad {
    background-position-x: -315px;
}

    .header-item_link-seguridad:hover {
        background-position-x: -105px;
    }

.header-item_link-form {
    background-position-x: -364px;
}

    .header-item_link-form:hover {
        background-position-x: -154px;
    }

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5vh;
    margin-left: calc(80px + 12px);
}

.main-title {
    font-family: whitney, sans-serif;
    font-weight: 300;
    color: #424242;
    margin-left: 0;
    margin-bottom: 42px;
    font-size: 28px;
    line-height: 1.1;     
}

.main-form {
    max-width: 414px;
}

.main-form_input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(26, 38, 51, 0.1);
    margin-bottom: 28px;
    height: 50px;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    transition: border-bottom-color 0.4s;
}

    .main-form_input::placeholder {
        color: rgba(26, 38, 51, 0.4);
        font-family: 'Heebo', sans-serif;
    }

    .main-form_input::-moz-placeholder {
        color: rgba(26, 38, 51, 0.75);
        font-family: 'Heebo', sans-serif;
    }

    .main-form_input:focus {
        border-bottom-color: rgba(26, 38, 51, 0.5);
        outline: none;
    }

.main-form_input-password {
    margin-bottom: 42px;
}

.main-form_input-error {
    border-bottom-color: #d52b1e;
    color: #ff0000;
}

.main-form_submit {
    border: none;
    background: none;
    -webkit-appearance: none;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(26, 38, 51, 0.1);
    max-width: 115px;
    width: 100%;
    height: 56px;
    margin-bottom: 30px;
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s;
}


.main-form_submit {
    border: none;
    background: none;
    -webkit-appearance: none;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(26, 38, 51, 0.1);
    max-width: 115px;
    width: 100%;
    height: 56px;
    margin-bottom: 30px;
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.main-form_submit_disabled {
    border: none;
    background: none;
    -webkit-appearance: none;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(26, 38, 51, 0.1);
    max-width: 115px;
    width: 100%;
    height: 56px;
    margin-bottom: 30px;
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s;
    background-color: #d8d8d8;
}



.main-form_submit {
    cursor: pointer;
    background-color: #d52b1e;
}

    .main-form_submit[disabled] {
        cursor: default;
        background-color: #d52b1e;
    }

.ruedita {
    display: none;
    float: left;
    margin-top: 17px;
}

div#boton {
    float: left;
    max-width: 115px;
    width: 100%;
}
 
 

.error {
    color: #ff0000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    margin-bottom: 18px;
}

.error-show {
    display: block;
}

.error-message {
    margin-left: 10px;
}

/* Keyboard */
.main-form_keyboard {
    background: none;
    border: none;
    cursor: pointer;
    background-image: url(img/keyboard.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 40px;
    display: block;
    height: 30px;
    margin-bottom: 56px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: #424242;
}

.keyboard {
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    max-width: 600px;
    display: none;
    left: -65px;
    padding: 48px 30px;
    border-radius: 20px;
}

.keyboard-show {
    display: inline-block;
}

.keyboard-key_row {
    display: inline;
}

.keyboard-key,
.keyboard-key_may,
.keyboard-key_del {
    min-width: 43px;
    margin-bottom: 7px;
}

.keyboard-key_may,
.keyboard-key_del {
    min-width: 56px;
}

.keyboard-key:focus {
    border: 1px solid #a7a7a7;
}

.keyboard-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background: none;
    border: none;
    cursor: pointer;
    background-image: url(img/close.svg);
    background-repeat: no-repeat;
}

.keyboard-capitalize {
    text-transform: uppercase;
}

.keyboard-key {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #424242;
    text-transform: inherit;
    border-radius: 11px;
    background-color: #d8d8d8;
}

.keyboard-key_del {
    background-position-y: -6px;
}

.keyboard-key:hover {
    background-color: #a7a7a7;
}

.keyboard-key_may {
    background-image: url(img/capitalize.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.keyboard-key_del {
    background-image: url(img/delete.svg);
    background-repeat: no-repeat;
}

.keyboard-key_simple {
    grid-column: 2/3;
}

.keyboard-key_large {
    min-width: 100px;
}

.keyboard-key_large {
    grid-column: 3/8;
}

.footer-login {
    display: flex;
    margin-top: 64px;
    grid-template-columns: 80px 1fr;
    grid-column-gap: 12px;
    -ms-flex-align: center;
    margin-top: 150px;
}

/* Negocios */
.footer-link {
    font-size: 13px;
    margin-top: 18px;
    color: rgba(26, 38, 51, 0.5);
    display: inline-block;
}

.footer-link_inline {
    color: rgba(26, 38, 51, 0.5);
    display: inline-block;
}

.footer-img {
    max-width: 65px;
}

.footer-text {
    font-size: 12px;
    line-height: 1.38;
    color: rgba(26, 38, 51, 0.5);
    margin-top: 15px;
}

.footer-text-account-free {
    font-size: 12px;
    line-height: 1.38;
    margin-top: 20px;
}

@supports (display: grid) {
    .link-new {
        bottom: 0;
        /*margin-top: 0;*/
    }
    /* Negocios */
    .link-negocios {
        bottom: 0;
    }

    .link-negocios_new {
        margin-top: auto;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 45vw 55vw;
        align-items: unset;
        justify-content: unset;
    }

    .container-login {
        display: grid;
        grid-template-columns: 96px 1fr 96px;
        grid-template-rows: 124px 1fr 124px;
        grid-column-gap: 12px;
        height: 100vh;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }

    .header-login {
        padding-bottom: 0;
        padding-top: 0;
    }

    .keyboard {
        grid-template-columns: repeat(10, 43px);
        grid-template-rows: repeat(4, 47px);
        grid-column-gap: 7px;
        grid-row-gap: 12px;
        max-width: none;
    }

    .keyboard-show {
        display: grid;
    }

    .keyboard-key,
    .keyboard-key_may,
    .keyboard-key_large {
        margin-bottom: 0;
        min-width: auto;
    }

    .keyboard-key_del {
        background-position-y: center;
    }

    .keyboard-key_row {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 69px repeat(7, 43px) 69px;
        grid-template-rows: 47px;
        grid-column-gap: 7px;
    }

    .keyboard-key:focus {
        outline: none;
        border: none;
        box-shadow: inset 0 0 0 2px #a7a7a7;
    }

    .footer-login {
        /*display: grid;*/
        max-width: none;
        grid-template-columns: 80px 1fr;
        /*grid-column-gap: 12px;*/
        /*align-items: center;*/
        margin-top: -12px;
    }

    .footer-negocios {
        align-items: flex-start;
    }

        .footer-negocios img {
            margin-top: 8px;
        }
}

@supports (object-fit: cover) {
    .wrapper-left_img {
        object-fit: cover;
        width: 100%;
        max-width: 1000px;
        opacity: 1;
    }
    
    .wrapper-left_img.spv-transition {
        transition: opacity 0.7s ease-in-out;
    }

    .wrapper-left_img.spv-hidden {
        opacity: 0;
        pointer-events: none;
    }

    .wrapper-left {
        height: unset;
    }

    .wrapper-left_img:not(:first-child) {
        display: inline-block;
    }
}


/* Media Queries */
@media (max-height: 880px) and (min-width: 768px) {
    .main-title {
        margin-bottom: 25px;
    }

    .error {
        margin-bottom: 12px;
    }

    .main {
        margin-bottom: 16px;
        justify-content: flex-start;
        margin-top: 48px;
    }

    .main-form_input {
        margin-bottom: 16px;
        height: 44px;
    }

    .main-form_input-password {
        margin-bottom: 24px;
    }

    .main-form_submit {
        margin-bottom: 10px;
    }

    .main-form_keyboard {
        margin-bottom: 24px;
        font-size: 18px;
    }

    .container-login {
        display: block;
    }

    .keyboard {
        left: -12px;
    }

    .keyboard-key {
        font-size: 22px;
    }

    .keyboard-close {
        top: 12px;
        right: 12px;
        width: 12px;
        height: 12px;
        background-size: cover;
    }
    .footer-text-account-free {
        margin-top: 20px;
    }

    @supports (display: grid) {
        .keyboard {
            grid-template-columns: repeat(10, 36px);
            grid-template-rows: repeat(4, 36px);
            grid-column-gap: 6px;
            grid-row-gap: 6px;
            padding: 33px 20px;
        }

        .keyboard-key_row {
            grid-template-columns: 63px repeat(7, 36px) 56px;
            grid-template-rows: 36px;
            grid-column-gap: 6px;
        }

        .keyboard-key,
        .keyboard-key_may,
        .keyboard-key_del {
            min-width: 36px;
        }

        .keyboard-key_may,
        .keyboard-key_del {
            min-width: 48px;
            background-position-x: center;
        }

        .container-login {
            grid-template-rows: 96px 1fr 96px;
            display: grid;
        }

        .link-new {
            margin-top: 8vh;
            position: relative;
            max-width: 220px;
        }

        .link-negocios_new {
            margin-top: 8vh;
            position: relative;
            max-width: 220px;
        }
    }
}

@media (max-height: 690px) and (min-width: 768px) {
    .main-form_keyboard {
        float: right;
        margin-top: 12px;
    }
}

@media (min-width: 1600px) {
    @supports (display: grid) {
        .container-login {
            grid-column-gap: 24px;
        }

        .footer-login {
            grid-column-gap: 24px;
            /*display: grid;*/
        }
    }

    .main {
        margin-left: calc(80px + 24px);
    }
}

@media (max-width: 1440px) {
    .container-login {
        grid-template-columns: 72px 1fr 72px;
    }
}

@media (max-width: 1440px) and (min-height: 881px) {
    .keyboard {
        left: -120px;
    }
}

@media (max-width: 1140px) {
    .keyboard {
        left: -130px;
    }
}

@media (max-width: 1100px) {
    .wrapper {
        grid-template-columns: 38vw 62vw;
    }

    .container-login {
        grid-template-columns: 40px 1fr 40px;
    }

    .header-logo {
        max-width: 155px;
    }
}

/* Keyboard is not required on mobile nor tablet */
@media (max-width: 1024px) {
    .main-form_keyboard, .keyboard {
        display: none;
    }

    /* Negocios */
    .link-negocios_new {
        margin-right: 22px;
    }
}

@media (max-width: 840px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .wrapper-left {
        display: none;
    }
}

@media (max-width: 767px) {
    .container-login {
        grid-column-gap: 18px;
        grid-template-rows: 96px 0.95fr 120px;
        grid-template-columns: 12px 1fr 12px;
    }

    .header-logo {
        max-width: 130px;
    }

    .header-links_item {
        margin: 0 7px;
    }

    .link-new {
        margin-top: 24px;
    }

    /* Negocios */
    .link-negocios {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        position: relative;
    }

    .link-negocios_text {
        margin-top: 22px;
    }

    .main {
        margin-left: 0;
        margin-bottom: 2vh;
        padding-left: 24px;
        padding-right: 24px;
        margin-left: 0;
    }

    .main-title {
        font-size: 24px;
        margin-bottom: 26px;
    }

    .main-form_input {
        height: 44px;
    }

    .main-form_input-username {
        margin-bottom: 24px;
    }

    .main-form_input, .main-form_submit {
        font-size: 18px;
    }

    .link-new {
        position: relative;
        bottom: unset;
        max-width: 220px;
    }

    .footer-login {
        grid-column-gap: 18px;
    }
}

@media (max-width: 405px) {
    .container-login, .wrapper {
        height: auto;
    }

    .container-login {
        grid-template-rows: 180px 0.95fr;
    }

    .header-login {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .main {
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 44px;
    }

    .main-title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .main-form_input {
        margin-bottom: 24px;
    }

    .main-form_submit {
        height: 46px;
        max-width: 96px;
    }

    .footer-login {
        padding-bottom: 30px;
    }
}

.linkFreeAccount {
    text-decoration: none;
    color: #666666;
}
